/* General */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--fondo-095);

  --fondo-098: hsl(0, 0%, 98%);
  --fondo-095: hsl(0, 0%, 95%);
  --fondo-090: hsl(0, 0%, 90%);
  --fondo-080: hsl(0, 0%, 80%);

  --color-principal: hsl(341, 78%, 48%);

  --color-enlaces: hsl(204, 20%, 5%);
  --color-bordes: hsl(210, 18%, 87%);
  --color-bordes-secundario: hsl(210, 18%, 50%);

  --color-verduras: hsl(109, 47%, 28%);
  --color-verduras-texto: hsl(109, 47%, 18%);
  --color-frutas: hsl(50, 71%, 59%);
  --color-frutas-texto: hsl(50, 71%, 39%);

}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.header,
.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  padding: 0.5rem 1rem;
  background-color: var(--fondo-090);
}

.header {
  box-shadow: inset 0 -3px 0 var(--color-principal);
}

.header div:last-child {
  margin-left: auto;
}

.footer {
  box-shadow: inset 0 3px 0 var(--color-principal);
}

.footer div:last-child {
  margin-left: auto;
}

.header a {
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}



/* Efectos de header y footer*/
.ul-effects li:hover {
  color: var(--color-principal);
  text-shadow: 0 0 0.5rem var(--black-075);
  transform: scale(1.1);
}

.ul-inline li {
  display: inline-block;
}

.ul-inline-separation li {
  margin: 0 0.5rem;
}



/* Header logo */

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo img {
  display: inline;
  width: 4rem;
  height: 4rem;
}

.header-logo p {
  display: inline;
  color: var(--color-principal);
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 2.5rem;
}

.icons-big {
  font-size: 1.2rem;
}

.icons-color-black {
  color: var(--fondo-080);
}