/* General */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--fondo-095);

  --fondo-098: hsl(0, 0%, 98%);
  --fondo-095: hsl(0, 0%, 95%);
  --fondo-090: hsl(0, 0%, 90%);
  --fondo-080: hsl(0, 0%, 80%);

  --color-principal: hsl(341, 78%, 48%);

  --color-enlaces: hsl(204, 20%, 5%);
  --color-bordes: hsl(210, 18%, 87%);
  --color-bordes-secundario: hsl(210, 18%, 50%);

  --color-verduras: hsl(109, 47%, 28%);
  --color-verduras-texto: hsl(109, 47%, 18%);
  --color-frutas: hsl(50, 71%, 59%);
  --color-frutas-texto: hsl(50, 71%, 39%);

}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.header,
.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  padding: 0.5rem 1rem;
  background-color: var(--fondo-090);
}

.header {
  box-shadow: inset 0 -3px 0 var(--color-principal);
}

.header div:last-child {
  margin-left: auto;
}

.footer {
  box-shadow: inset 0 3px 0 var(--color-principal);
}

.footer div:last-child {
  margin-left: auto;
}

.header a {
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}



/* Efectos de header y footer*/
.ul-effects li:hover {
  color: var(--color-principal);
  text-shadow: 0 0 0.5rem var(--black-075);
  transform: scale(1.1);
}

.ul-inline li {
  display: inline-block;
}

.ul-inline-separation li {
  margin: 0 0.5rem;
}



/* Header logo */

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo img {
  display: inline;
  width: 4rem;
  height: 4rem;
}

.header-logo p {
  display: inline;
  color: var(--color-principal);
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 2.5rem;
}

.icons-big {
  font-size: 1.2rem;
}

.icons-color-black {
  color: var(--fondo-080);
}

.main-content {
  width: 80%;
  max-width: 1080px;
  margin: auto;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: left;
}

/* Work in progress */

.content-block {
  background-color: var(--fondo-098);
  border: solid 0.1rem var(--color-bordes);
  border-radius: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.content-block-pm {
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}

.info-block {
  /* Posicion */
  display: flex;
  flex-direction: column;
}

.info-block ul {
  list-style: square;
  font-size: 1.7rem;
}

.info-banner {
  max-width: 80%;
  border-radius: 100%;
  align-self: center;
}

.info-title {
  /* Posicion */
  display: block;
  width: auto;
  margin: 0.5rem;
  align-self: center;

  /* Estilo */
  border-bottom: 0.1rem var(--color-bordes-secundario) solid;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
}

#info-verduras-title {
  color: var(--color-verduras-texto);
}

#info-frutas-title {
  color: var(--color-frutas-texto);
}

#store {
  flex-direction: column;
}

#store-search {
  width: 50%;
  height: 100%;
  float: left;
}

#store-filters {
  display: inline-block;
  width: 50%;
  height: 100%;
  float: left;
  text-align: right;
}

#store-items article * {
  display: block;
}

.store-item-photo {
  max-width: 5rem;
  max-height: 5rem;
}

#services {
  flex-direction: column;
}

.contact-form-block {
  display: block;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
}

.contact-form textarea {
  width: 100%;
  min-height: 10rem;
}

.contact-form-send {
  float: right;
  color: white;
  border-width: 0px;
  box-shadow: 0 1px var(--color-principal);
  background-color: var(--color-principal);
}

.abous-us h1 {
  text-align: center;
}

.abous-us p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
